{% extends 'base.html' %}

{% block content %}
  <div class="header">
    <h3>Polls</h3>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <th>Title</th>
          <th>Actions</th>
        </thead>
        <tbody>
          {% for poll in object_list %}
            <tr>
              <td>{{ poll.title }}</td>
              <td>
                <a class="btn btn-default btn-xs"
                   href="{% url 'poll_vote' poll.id %}">
                  Vote
                </a>
                <a class="btn btn-default btn-xs" href="">Results</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}